@(Questionnaires: List[Questionnaire], QuestionnaireForm: Form[Questionnaire], utilisateurs: List[Utilisateur])

@import helper._

@main("Questionnaire Pour Manifestations Professionnels") {
    
    <header>
    	<h1>Questionnaire Pour Manifestations Professionnels</h1>
    	<br>
   		[<a href="./consult">Consulter</a>] [<a href="./creation">Creer</a>] [<a href="./admin">Admin</a>] [<a href="http://intranet">Sortir</a>] 
    </header>   
    <br> 
    <br> 
    <br>
    <h2>Nouveau :</h2>
    
    @form(routes.Application.newQuestionnaire()) {
       	@select(
                QuestionnaireForm("createur"), 
                options = options(Utilisateur.list),
                '_default -> "--- Nom ---",
                '_label -> "Nom",
                '_error -> QuestionnaireForm("createur").error.map(_.withMessage("Choisissez un Nom"))
        )
		
		@inputText(
       		QuestionnaireForm("debut"),
      		'_label -> "Date debut", 'cols -> 50,
            'placeholder -> "JJMMAAAA",
      		'_error -> QuestionnaireForm("debut").error.map(_.withMessage("Entrez une date."))
    	)
            
        @inputText(
                field = QuestionnaireForm("titre"), 
                'placeholder -> "Titre",
                '_label -> "Titre",
                '_error -> QuestionnaireForm("titre").error.map(_.withMessage("Entrez un titre."))
		
            ) 
            
        @inputText(
                field = QuestionnaireForm("fin"), 
                'placeholder -> "JJMMAAAA",
                '_label -> "Date fin",
                '_error -> QuestionnaireForm("fin").error.map(_.withMessage("Entrez une date."))
		
            )
                   
        @inputText(
       	 	field = QuestionnaireForm("persMax"), 
            'placeholder -> " >= 1",
            '_label -> "Nombre de place",
            '_error -> QuestionnaireForm("persMax").error.map(_.withMessage("Entrez un nombre."))
	
            )
         
        <button class="btn btn-success" type="submit">Suite</button> <button class="btn btn-warning" type="reset">Mise a blanc</button>
	}
}
